:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --black: #000000;
  --white: #ffffff;
  --accent-color: #2196f3;
  --focus-btn: #188ce8;
  --bacground-fon-color: #f5f4fa;
  --footer-color: #2f303a;
  --link-color: rgba(255, 255, 255, 0.6);
}
body {
  background-color: var(--white);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

/* цвет основного текста #757575 */
/* цвет второстепенного текста #212121 */
/* цвет акцента #2196F3 */
/* белый #FFFFFF*/
/* цвет futer #2F303A */
/* цвет фона #E5E5E5 */

/* Stiles for index.html */
.header {
  background-color: var(--white);
}
.logo {
  color: var(--black);
  text-decoration: none;
  font-style: normal;

  font-family: Raleway;
  font-style: Bold;
  font-size: 26px;
  line-height: 1.19;
}
.logo-part {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
/* Site nav */
.header {
  background-color: var(--white);
}
.nav-list,
.auth-list {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.nav-link-current {
  color: var(--accent-color);
  text-decoration: none;

  ont-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.auth-link {
  color: var(--primary-text-color);

  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
/* Section oder */
.oder {
  background-color: var(--footer-color);
}
.oder-title {
  color: var(--white);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
}
.oder-btn {
  color: var(--white);
  background-color: var(--accent-color);

  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;

  cursor: pointer;
}
.oder-btn:hover,
.oder-btn:focus {
  background-color: var(--focus-btn);
}
/* Site section */
.features-title,
.team-title {
  color: var(--title-text-color);
  background-color: var(--white);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
/* Section advant */
.advant,
.features {
  background-color: var(--white);
}
.advant-list,
.features-list,
.team-list {
  list-style: none;
}
.advant-main-title {
  color: transparent;
}
.advant-title {
  color: var(--title-text-color);

  text-transform: uppercase;
  font-weight: 700d;
  font-size: 14px;
  line-height: 1.14;
}
.advant-text {
  font-size: 14px;
  line-height: 1.7;
}
/* Section team */
.team {
  background-color: var(--bacground-fon-color);
}
.team-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-position {
  font-size: 16px;
  line-height: 1.19;
}

/* Footer */
.footer {
  background-color: var(--footer-color);
}
.adress-coordinates {
  color: var(--white);
  text-decoration: none;
  font-style: normal;
}
.adress-link {
  color: var(--link-color);
  text-decoration: none;
  font-style: normal;
  list-style: none;
}
.adress-link:hover,
.adress-link:focus {
  color: var(--accent-color);
}
.logo-footer {
  color: var(--white);
  text-decoration: none;

  font-style: 700;
  font-size: 26px;
  line-height: 1.19;
}
.footer-list {
  list-style: none;
}
/* Styles for portfolio.html */
.filter-list,
.exmp-list {
  list-style: none;
}
.filter-btn {
  color: var(--primary-text-color);
  background-color: var(--white);

  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;

  cursor: pointer;
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--white);
  background-color: var(--accent-color);
}
.works-title {
  color: transparent;
}
.exmp-link:hover,
.exmp-link:focus {
  color: var(--black);
}
.exmp-link {
  text-decoration: none;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.exmp-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.exmp-text {
  color: var(--primary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
}
